<!-- コメント返信入力フォーム ------------------------------------------------------------>
<!-- idをcomment.idに応じて変化させる -->
<%= form_with(model: [@comment, @reply], url: video_comment_replies_path(@video.id, comment.id), method: :post, local: false, id: "reply-form#{comment.id}") do |f| %>
  <%= f.text_area :reply, placeholder: "返信内容を記載して下さい。", id: "reply-text" %>
  <div class="content-show-comment-bottom-reply-btn">
    <%= f.submit "返信", class: "content-show-comment-bottom-reply-btn-send" %>
  </div>
<% end %>