<% provide(:title,  "視聴者一覧") %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap"> 
        <tbody>
          <% @viewers.each do |viewer| %>
          <tr align="center">
            <td><%= link_to viewer.name, viewer_path(viewer) %></td>
            <td><%= viewer.email %></td>
            <td><%= viewer.is_valid %></td>
            <% if current_system_admin %>
              <td><%= link_to "削除", viewer_path(viewer), method: :delete, data: { confirm: "#{viewer.name}の視聴者情報を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> 