<% provide(:title,  "ビデオ一覧") %>
<div class="content">  
  <% @organization_videos.each do |organization_video| %>
    <div style="float:left;margin:15px;"> 
      <video class="video-index" controls>
        <source src="<%= url_for(organization_video.video) %>"> 
      </video><br>
      <%= link_to organization_video.title, video_path(organization_video) %><br>
      <% if (current_user.present? && current_user.role == 'owner') || current_system_admin.present? %>  
        <%= link_to "削除", video_path(organization_video), method: :delete, data:{confirm: "削除しますか？"} %><br> 
      <% end %> 
    </div>
  <% end %> 
</div>

