<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<h1>Videos#show</h1>
<p>テスト画面です</p>

<div class="container">
  <div class="row">
    <div class="col-8">
      <% if account_logged_in? %>
        <div class="comment-create">
          <h4 class="text-left">コメントを投稿する</h4>
            <%= render partial: 'comments/form' %>
        </div><br>
      <% end %>
      <hr>
      <div class="comment-create">
        <h4 class="text-left title">コメント</h4>
      </div>
      <div id="comments_area">
        <%= render partial: 'comments/index' if @comments.present? %>
      </div>
    </div>
  </div>
</div>