<% provide(:title,  "ビデオ詳細") %>
<div class="content">
  <div class="video-display-show">
    <iframe src="https://player.vimeo.com/video/<%= @video_id %>" width="1000px" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>
  <div class="video-title-and-action-show">
    <%= @video.title %> <%= link_to "設定", edit_video_path(@video), remote: true  if user_signed_in? || system_admin_signed_in? %><br>
    <% if @video.is_valid == true %>
      <%= link_to "論理削除", videos_hidden_path(@video) if system_admin_signed_in? || current_user.present? && current_user.role == "owner" %>
    <% else %>
      <p>論理削除済み</p>
    <% end %>
  </div>
</div>

<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
