<% provide(:title, "組織加入") %>

<div>
  <h2><%= "#{@organization.name}から招待されています" %></h2>
  <div>
    <p>加入する場合は、『加入する』をクリックしてください。</p>
  </div>
  <div>
    <%= link_to '加入しない', viewer_path(current_viewer) %>
    <%= link_to "加入する", organizations_admission_path(@organization), method: :patch %>
  </div>
</div> 