<% provide(:title, "システム管理者編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @system_admin, url: system_admin_path, method: :patch, local: true do |f| %>
      <%= render partial: "/shared/form", locals: { f: f, system_admin: @system_admin } %>
      
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-success" %><br>
      <%= link_to "詳細画面へ", system_admin_path(@system_admin), class: "btn btn-md btn-block btn-secondary" %>
    <% end %>
  </div>
</div>