// この設定内容が、#postと、.choice_boxの両方に適用される
@mixin videoBox{
  height: 300px;
  width: 600px;
  cursor: pointer;
  // relativeを指定した親要素はないので、ページの一番上の親が基準になる
  position: absolute;
}

// ファイル入力を行うfile_field
#post{
  // 上述のvideoBoxの設定を適用
  @include videoBox;
  background-color: aqua;
  // ページの一番上の親を基準として、z-indexの値を1に設定
  z-index: 1; // .choice_boxより下に来るように、z-indexを小さくしている
}

// ドラッグ&ドロップの文字を表示
.choice_box{
  // 上述のvideoBoxの設定を適用
  @include videoBox;
  background-color: rgb(186, 186, 186);
  // ページの一番上の親を基準として、z-indexの値を2に設定
  z-index: 2; // #postより上に来るように、z-indexを大きくしている
  pointer-events: none;
  line-height: 300px;
  text-align: center;
  border: 2px dashed black;
}

// アップした動画のプレビュー表示
#show{
  height: 300px;
  width: 600px;
  border: 2px solid #333;
  // relativeを指定した親要素はないので、ページの一番上の親が基準となる
  position: absolute;
  // ページの一番上の親を基準としてとして上から300pxのところに配置
  top: 300px;
  video{
    height: 296px;
    width: 596px;
    object-fit: cover;
  }
}

.video-label{
  margin-top:10px;
}

.video-post-actions{
  margin-top:20px;
}

.video-info{
  z-index: 3; // ページの一番上の親を基準として、z-indexの値を3に設定。ブラウザを縮小しても最上部に表示される
}

// videos#indexページ
.video-title-and-action-index{
  margin-left:10px;
}

// videos#search結果表示
.video-search-result {
  background-color: #E9FFA5;
  font-weight: bold;
}

// videos#showページ
.video-title-and-action-show{
  margin-left:50px;
}

// recording の css  以下から
#recording-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

#recording-controls-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

#recording-controls-container button,
#recording-controls-container select {
  margin-right: 10px;
  margin-bottom: 10px;
}
// recording の css 以上まで
