<% provide(:title,  "組織一覧") %>
<br>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap"> 
        <tbody>
          <% @organizations.each do |organization| %>
          <tr align="center">
            <td><%= link_to organization.name, organization_path(organization) %></td>
            <td><%= organization.email %></td>
            <td><%= organization.is_valid %></td>
            <td><%= link_to "削除", organization_path(organization), method: :delete, data: { confirm: "#{organization.name}の組織情報を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>