<html>
  <head>
    <title>test</title>
  </head>
  <body>
    <div id="recording-container">
      <h2>動画録画</h2>
      <div id="recording-controls-container">
        <button id="stream">デバイス取得</button><br>
        <select id="camera_list" size="1" style="width:160pt;">
          <option>(video)</option>
        </select>
        <select id="mic_list" size="1" style="width:160pt;">
          <option>(audio)</option>
        </select>
        <button id="start_video_button" >選択デバイス反映</button><br />

        <label for="select-element-video">映像：</label>
        <button id="stop-screen-capture" disabled>画面キャプチャを停止</button>
        <button id="stop-web-camera" disabled>webカメラを停止</button><br>
        <label for="select-element-audio" disabled>音声：</label>
        <button id="stopBrowserAudio" disabled>ブラウザ音声を削除</button>
        <button id="muteButton" disabled>マイク音声を削除</button><br>

        <button id="record-button" disabled>録画開始</button>
        <button id="play-button" disabled>再生</button>
        <button id="download-button" disabled>ダウンロード</button><br/>
      </div>
      <h3>出力画面</h3><br/>
      <canvas id="canvas" width="640px" height="360px" style="object-fit: contain;">
        <%# 以下非表示の為キャンバス内に記載 %>
        <video id="web-camera" playsinline autoplay></video>
        <video id="screen-capture" autoplay></video>
        <%# canvasから取得したStream %>
        <video id="player-canvas" controls autoplay width="640px" height="360px"></video><br>
      </canvas><br>
      <audio id="browser-audio" controls autoplay muted>ブラウザ音声</audio>
      <audio id="mic-audio" controls autoplay muted>マイク音声</audio><br />
      <h3>録画プレビュー</h3><br/>
      <video id="recorded-video" playsinline width="480" height="270" style="object-fit: contain;" loop></video>
    </div>
  </body>
</html>
