<!-- app/views/layouts/_footer.html.erb -->
<footer class="main-footer">
  <!-- Default to the left -->
  <strong>Copyright &copy; 2014-<%= Time.current.year %> <a>レコブル</a></strong> All rights reserved.
</footer>
